#ResultPageContent {
    margin-left: 20px;
    margin-top: 10px;
}

#ResultPageTitle {
    font-size: 1.6em;
    color: var(--color1);
    font-weight: bold;
}

#ResultPageSubTitle {
    font-size: 1em;
    color: var(--color1);
}

#ResultPageSectionTitle {
    font-size: .9em;
    color: var(--color1);
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color2);
}

#Text1 {
    font-size: 1.9em;
    color: var(--color1);
    margin-top: 30px;
}

#Text2, #Text2Bold {
    font-size: .8em;
    color: var(--color1);
}
#Text2Bold {
    font-weight: bold;
}

