#GreenText {
    color: rgb(24, 185, 32); 
}

#RedText {
    color: rgb(235, 82, 82);
}

#SummaryBoxLeft, #SummaryBoxCenter, #SummaryBoxRight {
    display: inline-block;
    vertical-align: top;
    width: 32.5%;
    height: 150px;
    border-right: 0px solid var(--color2);
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    text-align: center;
}
#SummaryBoxCenter {
    border-left: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
}
#SummaryBoxRight {
    border-left: 0px solid var(--color2);
    border-right: 0px solid var(--color2);
}

